<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Violin" verbose="1">
    <test name="Violin">
        <packages>
            <package name="norswap.violin" />
            <package name="norswap.violin.link" />
            <package name="norswap.violin.stream" />
            <package name="norswap.violin.utils" />
        </packages>
    </test>
</suite>
